@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center bg-dark">
        <h1 class="display-4">Bem-vindo a Bookland</h1>

        <div id="carouselExampleAutoplaying" class="carousel slide corDFundo  data-bs-ride=" carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/alice1.png" class="d-block imgCarrocel" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/alice2.png" class="d-block  imgCarrocel" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/alice3.png" class="d-block imgCarrocel " alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!--Corrocel -->


        <div class="row">
            <div class="col">

                <div class="card cardMargin" style="width: 18rem;">
                    <img src="https://media.discordapp.net/attachments/1053733264403214388/1060637760643407903/alice_hq__9786556662695_g.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>


                <div class="card cardMargin" style="width: 18rem;">
                    <img src="https://media.discordapp.net/attachments/1053733264403214388/1060637760643407903/alice_hq__9786556662695_g.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>

                </div>

            </div>
        </div>


    </div>


</body>
